body{
	background-color: #A6ACAF;
}

h1{
	text-align: center;
	text-decoration: underline;
	font-family: 'Permanent Marker',cursive;
}

img{
	width: 100%;
	height:300px;
	margin: auto;
}

	
.img_border{
	width: 29%;
	float: left;
	background-color: #D7DBDD;
	margin: 1%;
	padding: 1%;
}